#error-message {
    position: absolute;
    top: max(7.5%, 30px);
    top: -100px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--red);
    width: fit-content;
    height: fit-content;
    padding: 10px 12.5px 10px 12px;
    border-radius: 4px;
    gap: 24px;
    color: var(--text-alt);
    font-size: var(--fs12);
    font-weight: 500;
    transition: var(--medium);
    white-space: nowrap;
    opacity: 0;
}
